.currency-info-wrapper {
    display: flex;
    justify-content: flex-end; /* İçeriği sağa hizalar */
    padding-right: 20px; /* Sağdan 20 piksel boşluk bırakır */
}

div.currency-info {
    font-size: 10px; /* Metin boyutunu 10 piksel olarak ayarlar */
    background-color: #ffffff; /* Arka plan rengini beyaz yapar */
    padding: 1px; /* İç boşluğu 1 piksel olarak ayarlar */
}

    div.currency-info p {
        margin: 0; /* Paragraflar arasındaki dış boşluğu sıfırlar */
        line-height: 1.2; /* Satır yüksekliğini daha sıkı bir hale getirir */
    }

.filter-section {
    margin-top: 5px;
}

    .filter-section select {
        margin-top: 5px;
    }
