/* Genel Stil Ayarları */
body {
    margin: 0; /* Sayfanın kenar boşluklarını kaldırır */
    font-family: Arial, sans-serif; /* Yazı tipi ayarı */
    overflow-x: hidden; /* Yatay kaydırmayı engeller */
    padding-top: 60px; /* Navbar yüksekliği kadar boşluk ekle */
}

.container {
    padding: 15px; /* Konteyner içindeki boşluk */
}

/* Off-canvas Menüsü Stilleri */
.offcanvas {
    height: 100%; /* Tam yükseklik */
    width: 0; /* Başlangıç genişliği */
    position: fixed; /* Sabit konum */
    top: 0; /* Üst kenardan sıfır mesafe */
    right: 0; /* Sağ kenardan sıfır mesafe */
    background-color: #f8f9fa; /* Açık gri arka plan */
    overflow-x: hidden; /* Yatay kaydırmayı engeller */
    transition: 0.5s; /* Geçiş süresi */
    padding-top: 60px; /* Yukarıdan boşluk */
    z-index: 1000; /* Menü önceliği */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Gölgeli arka plan */
}

    .offcanvas a {
        padding: 15px 20px; /* Bağlantılar için iç boşluk */
        text-decoration: none; /* Alt çizgiyi kaldırır */
        font-size: 24px; /* Büyük yazı boyutu */
        color: #333; /* Koyu gri yazı rengi */
        display: block; /* Blok seviyesinde eleman */
        transition: 0.3s; /* Geçiş süresi */
    }

        .offcanvas a:hover {
            background-color: #e9ecef; /* Hover efekti */
        }

.offcanvas-close {
    position: absolute; /* Mutlak konum */
    top: 10px; /* Üstten 10px mesafe */
    right: 10px; /* Sağdan 10px mesafe */
    font-size: 30px; /* Büyüklükte simge */
    color: #333; /* Koyu gri renk */
    z-index: 1100; /* Menüden üstte olması için */
}

/* Navbar Sabitleme Stili */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 0.25rem 0.5rem; /* Düşük padding ile ince görünüm sağlar */
    background-color: rgba(255, 255, 255, 0); /* Arka planı tamamen şeffaf yapar */
    backdrop-filter: none; /* Arka plan bulanıklığını kaldırır */
    border-bottom: 1px solid rgba(255, 255, 255, 0); /* Sınırı da görünmez yapar */
    height: 50px; /* İnce görünüm için yükseklik */
    display: flex; /* Flex düzenini etkinleştirir */
    justify-content: space-between; /* Öğeleri hizalar */
    align-items: center; /* Öğeleri ortalar */
    padding: 0 20px; /* Sağdan ve soldan padding */
}

    /* Navbar içindeki elemanlar için görünürlük ayarları */
    .navbar .navbar-brand,
    .navbar .navbar-toggler {
        padding: 0.125rem 0.25rem; /* İç boşlukları azaltır */
        color: #333; /* Metin rengini koyu gri yapar */
        border: none; /* Kenarları kaldırır */
        font-size: 0.875rem; /* Daha küçük font boyutu ile ince görünüm sağlar */
    }

/* Navbar içindeki elemanlar arasına boşluk ekler */
.navbar-nav {
    display: flex; /* Flexbox düzenini aktifleştirir */
    gap: 15px; /* Öğeler arası boşluk */
}
/* Open Button */
.openbtn {
    position: absolute; /* Mutlak konum */
    right: 20px; /* Sağ kenardan 20px mesafe */
}

/* Ana İçerik Stilleri */
.main-content {
    transition: margin-right .5s; /* Sağ kenar boşluğu için geçiş */
    padding: 16px; /* İç boşluk */
}

/* Kalite Sınıfları Renkleri */
.quality-class-viscose {
    background-color: rgba(255, 165, 0, 0.5);
}

.quality-class-rayon {
    background-color: rgba(0, 128, 0, 0.5);
}

.quality-class-rynsignart {
    background-color: rgba(0, 128, 0, 0.5);
}

.quality-class-cotton {
    background-color: rgba(128, 0, 128, 0.5);
}

.quality-class-nylon {
    background-color: rgba(255, 255, 0, 0.5);
}

.quality-class-polyester {
    background-color: rgba(255, 0, 0, 0.5);
}

.quality-class-pesdouble {
    background-color: rgba(255, 0, 0, 0.5);
}

.quality-class-tencel {
    background-color: rgba(0, 0, 255, 0.5);
}

.quality-class-modal {
    background-color: rgba(0, 0, 255, 0.5);
}

.quality-class-linen {
    background-color: rgba(173, 216, 230, 0.5);
}

.quality-class-jacquard {
    background-color: rgba(128, 128, 128, 0.5);
}

.quality-class-mix {
    background-color: rgba(211, 211, 211, 0.5);
}

.quality-class-yarndyed {
    background-color: rgba(211, 211, 211, 0.5);
}

/* Kalite Sınıfları Renkleri */
.qualities-m {
    background-color: rgba(173, 216, 230, 0.25);
}

.qualities-a {
    background-color: rgba(255, 255, 224, 0.25);
}

.qualities-n {
    background-color: rgba(144, 238, 144, 0.25);
}

/* Airflow ve Sustainable Filtre Renkleri */
.airflow-filter, .sustainable-filter {
    background-color: rgba(144, 238, 144, 0.5); /* Açık yeşil */
}

/* Kalite Grupları */

/* Liste Elemanları */
.list-group-item {
    display: flex; /* Flexbox düzeni */
    align-items: center; /* Checkbox ve metni ortalar */
    font-size: 0.75rem; /* Küçük font boyutu */
    padding: 0.5rem; /* İç boşluk */
    box-sizing: border-box; /* Padding ve border'ı boyutlara dahil eder */
}

/* Form Kontrolü */
.form-check {
    display: flex; /* Flexbox düzeni */
    align-items: center; /* Checkbox ve etiketleri hizalar */
    margin-left: -1.5rem; /* Sol kaydırma */
}

.form-check-input {
    margin: 0; /* Margin yok */
    margin-right: 0.5rem; /* Etiket ile araya boşluk bırakır */
    position: relative; /* Konumlandırmayı kontrol eder */
    z-index: 1; /* Checkbox'ı etiketin üstünde gösterir */
}

.form-check-label {
    margin: 0; /* Margin yok */
    position: relative; /* Konumlandırmayı kontrol eder */
    z-index: 0; /* Etiketin checkbox'ın altında olmasını sağlar */
}

/* Özel Buton Stilleri */
.btn-custom {
    font-size: 0.75rem; /* Küçük font boyutu */
    padding: 0.25rem 0.5rem; /* İç boşluk */
    border-radius: 0.25rem; /* Köşe yuvarlama */
}

    .btn-custom:hover {
        background-color: rgba(0, 0, 0, 0.1); /* Hover efekti */
    }

/* Filtre Butonları Konteyneri */
.filter-btn-container {
    display: flex; /* Flexbox düzeni */
    gap: 1rem; /* Butonlar arası boşluk */
    position: absolute; /* Mutlak konum */
    top: 30px; /* Üstten mesafe */
    right: 100px; /* Sağdan mesafe */
}

