/* filter.css */

/* Genel Stil Ayarları */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Yan kaydırmayı engeller */
}

.container {
    padding: 15px;
}

/* Off-canvas Menüsü Stilleri */
.offcanvas {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0; /* Sağdan açılmasını sağlar */
    background-color: #f8f9fa; /* Açık gri renk */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000; /* Diğer içeriklerin üstünde olması için */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Gölgeli arka plan */
}

    .offcanvas a {
        padding: 15px 20px; /* Daha geniş aralık */
        text-decoration: none;
        font-size: 24px; /* Daha büyük yazı boyutu */
        color: #333; /* Koyu gri renk */
        display: block;
        transition: 0.3s;
    }

        .offcanvas a:hover {
            background-color: #e9ecef; /* Açık gri renk */
        }

.offcanvas-close {
    position: absolute;
    top: 10px; /* Yukarıdan küçük boşluk */
    right: 10px; /* Sağdan küçük boşluk */
    font-size: 30px; /* Daha küçük kapanma simgesi */
    color: #333; /* Koyu gri renk */
    z-index: 1100; /* Menüden üstte olması için */
}

.openbtn {
    font-size: 18px; /* Daha küçük menü açma butonu */
    cursor: pointer;
}

    .openbtn:hover {
        background-color: #ddd;
    }

.main-content {
    transition: margin-right .5s; /* Sağ kenar boşluğu için */
    padding: 16px;
}

/* QualityClass renkleri */
.quality-class-viscose {
    background-color: rgba(255, 165, 0, 0.5); /* orange */
}

.quality-class-rayon {
    background-color: rgba(0, 128, 0, 0.5); /* green */
}

.quality-class-rynsignart {
    background-color: rgba(0, 128, 0, 0.5); /* green */
}

.quality-class-cotton {
    background-color: rgba(128, 0, 128, 0.5); /* purple */
}

.quality-class-nylon {
    background-color: rgba(255, 255, 0, 0.5); /* yellow */
}

.quality-class-polyester {
    background-color: rgba(255, 0, 0, 0.5); /* red */
}

.quality-class-pesdouble {
    background-color: rgba(255, 0, 0, 0.5); /* red */
}

.quality-class-tencel {
    background-color: rgba(0, 0, 255, 0.5); /* blue */
}

.quality-class-modal {
    background-color: rgba(0, 0, 255, 0.5); /* blue */
}

.quality-class-linen {
    background-color: rgba(173, 216, 230, 0.5); /* lightblue */
}

.quality-class-jacquard {
    background-color: rgba(128, 128, 128, 0.5); /* gray */
}

.quality-class-mix {
    background-color: rgba(211, 211, 211, 0.5); /* lightgray */
}

.quality-class-yarndyed {
    background-color: rgba(211, 211, 211, 0.5); /* lightgray */
}

/* Qualities renkleri */
.qualities-m {
    background-color: rgba(173, 216, 230, 0.25); /* main */
}

.qualities-a {
    background-color: rgba(255, 255, 224, 0.25); /* archive */
}

.qualities-n {
    background-color: rgba(144, 238, 144, 0.25); /* new */
}

/* Airflow ve Sustainable renkleri */
.airflow-filter, .sustainable-filter {
    background-color: rgba(144, 238, 144, 0.5); /* Açık yeşil */
}

.quality-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Optional: space between items */
}

    .quality-group ul {
        flex: 1; /* Equal width for all columns */
        box-sizing: border-box;
        list-style: none;
        padding: 0;
        margin: 0;
    }

/* Liste elemanları için ayarlamalar */
.list-group-item {
    display: flex;
    align-items: center; /* Checkbox ve metni ortalar */
    font-size: 0.75rem; /* Küçültülmüş font boyutu */
    padding: 0.5rem; /* Küçültülmüş padding */
    box-sizing: border-box; /* Padding ve border'ı eleman boyutlarına dahil eder */
}

.form-check {
    display: flex;
    align-items: center; /* Checkbox ve etiketleri hizalar */
    margin-left: -1.5rem; /* Checkbox ve etiket arasındaki sağ kaymayı düzeltir ve sola kaydırır */
}

.form-check-input {
    margin: 0; /* Checkbox'ı kutu içine hizalar */
    margin-right: 0.5rem; /* Etiket ile araya boşluk bırakır */
    position: relative; /* Konumlandırmayı kontrol etmek için */
    z-index: 1; /* Checkbox'ı etiketin üstünde gösterir */
}

.form-check-label {
    margin: 0; /* Etiketi hizalar */
    position: relative; /* Konumlandırmayı kontrol etmek için */
    z-index: 0; /* Etiketin checkbox'ın altında olduğundan emin olur */
}

.btn-custom {
    font-size: 0.75rem; /* Küçültülmüş font boyutu */
    padding: 0.25rem 0.5rem; /* Küçültülmüş padding */
    border-radius: 0.25rem; /* Küçültülmüş border-radius */
}

    .btn-custom:hover {
        background-color: rgba(0, 0, 0, 0.1); /* Hover efekti */
    }

.filter-btn-container {
    display: flex;
    gap: 1rem; /* Butonlar arasında boşluk */
    position: absolute; /* Mutlak konumlandırma */
    top: 30px; /* Üstten 60px mesafe */
    right: 100px; /* Sağdan 20px mesafe */
}

/* Karartma Katmanı Stili */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Karartma rengi ve şeffaflık */
    display: none; /* Başlangıçta gizli */
    z-index: 900; /* Menüden alt seviyede olması için */
}
