@{
    Layout = null;
}


    <link rel="stylesheet" href="~/css/error.css" />

<html>
<head>
    <title>Printer</title>
</head>
<body>
    <div class='container'>
        <div class='trey'>
            <div class='top'>
                <div class='paper1'></div>
            </div>
            <div class='bottom'>
                <div class='inner'></div>
            </div>
            <div class='grey-border'></div>
            <div class='pointer'></div>
            <div class='paper2'>
                <div class='e1'></div>
                <div class='e2'></div>
                <div class='e4'>
                    <div class='e41'></div>
                    <div class='text'>
                        ERROR
                    </div>
                    <div class='e42'></div>
                </div>
                <div class='e5'>
                    <div class='e51'></div>
                    <div class='text'>
                        404
                    </div>
                    <div class='e52'></div>
                </div>
                <div class='e3'></div>
                <div class='e6'></div>
            </div>
        </div>
        <div class='body'>
            <div class='top-perspective'>
                <div class='top'></div>
            </div>
            <div class='bottom'></div>
            <div class='buttons-container'>
                <div class='button1'></div>
                <div class='button2'></div>
            </div>
            <div class='button3'></div>
        </div>
    </div>
</body>
</html>
