<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .navbar {
            background-color: rgba(255, 255, 255, 0.1); /* Beyaz arka plan rengi ve %50 saydamlık */
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container d-flex justify-content-between align-items-center">
                <a class="navbar-brand" href="#">
                    <img src="~/img/akbasIcon.jpg" alt="Bootstrap" width="30" height="30">
                </a>
                <div class="d-flex flex-grow-1 justify-content-center">
                    <div class="d-flex mx-auto">
                        <div class="dropdown me-2">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                İplik
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Maliyet Analizi</a></li>
                                <li><a class="dropdown-item" href="#">Poy Stok Analizi</a></li>
                                <li><a class="dropdown-item" href="#">İplik Stok Analizi</a></li>
                            </ul>
                        </div>
                        <div class="dropdown me-2">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                Dokuma Örme
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item" href="#">Dokuma Örme Proforma</a></li>
                            </ul>
                        </div>
                        <div class="dropdown me-2">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                Boyahane
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                <li><a class="dropdown-item" href="#">Boyahane Proforma</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Fabrics")">Boyahane Genel Fiyat Listesi</a></li>

                                <li><a class="dropdown-item" href="#">Boyahane Stok Analizi</a></li>
                                <li><a class="dropdown-item" href="#">Boyahane İthal Kumaşlar</a></li>
                                <li><a class="dropdown-item" href="#">Üretim Raporu</a></li>
                                <li><a class="dropdown-item" href="#">Baskı Üretim Raporu</a></li>
                            </ul>
                        </div>
                        <div class="dropdown me-2">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false">
                                Konfeksiyon
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                                <li><a class="dropdown-item" href="#">Konfeksiyon Kumaş Fiyat Listesi</a></li>
                                <li><a class="dropdown-item" href="#">Geç Gelenler listesi</a></li>
                            </ul>
                        </div>
                        <div class="dropdown me-2">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-expanded="false">
                                Diğer
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton5">
                                <li><a class="dropdown-item" href="#">Satın Alma Fiyat Listesi</a></li>
                                <li><a class="dropdown-item" href="#">Sipariş Özet Raporu</a></li>
                                <li><a class="dropdown-item" href="#">Satış Analizi</a></li>
                                <li><a class="dropdown-item" href="#">Sipariş Analizi</a></li>
                                <li><a class="dropdown-item" href="#">Santral Görüşme Takip</a></li>
                                <li><a class="dropdown-item" href="#">Su Sayaç Takibi</a></li>
                                <li><a class="dropdown-item" href="#">Bilgi Sistemleri Destek</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <button type="submit" class="btn btn-danger ms-2">Çıkış</button>
                </form>
            </div>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <!-- Varsayılan footer içeriği -->
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
