<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="~/img/akbasIcon.jpg" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/fabric.css" />
    @RenderSection("Styles", required: false)
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        header {
            margin-bottom: 20px; /* Navbar ile içerik arasına boşluk ekleyin */
        }

        .navbar {
            margin-bottom: 20px; /* Navbar ile içerik arasına boşluk ekleyin */
        }

        .navbar-brand {
            display: flex;
            align-items: center;
            padding: 0;
        }

            .navbar-brand img {
                display: block;
                margin: 0;
                padding: 0;
                vertical-align: middle; /* Bu, resmin ortalanmasını sağlar */
            }

        .main-content {
            padding: 20px;
        }

        .nav-item .btn-logout {
            margin-left: 15px;
            border: none;
            background: none;
            color: #007bff;
            cursor: pointer;
        }

            .nav-item .btn-logout:hover {
                color: #0056b3;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="~/img/akbasIcon.jpg" alt="Icon" style="width: 28px; height: 28px; margin-right: 8px;">
                </a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <!-- Çıkış düğmesi -->
                        <li class="nav-item">
                            <form method="post" asp-controller="Account" asp-action="Logout" class="form-inline">
                                <button type="submit" class="btn-logout">
                                    <img src="~/img/exitIcon.png" alt="Logout" style="width: 24px; height: 24px;">
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="mainContent" class="main-content">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
