<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="~/img/akbasIcon.jpg" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/fabric.css" />

    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="~/img/akbasIcon.jpg" alt="Icon" style="width: 28px; height: 28px; margin-right: 8px;">
                    Akbaş Holding
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button class="openbtn" onclick="openNav()">&#9776;</button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <span class="nav-link disabled">Boyahane Genel Fiyat Listesi</span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="myNav" class="offcanvas">
        <a href="javascript:void(0)" class="offcanvas-close" onclick="closeNav()">&times;</a>
        <div class="container">
            <form asp-controller="Fabrics" asp-action="Index" method="get" id="filterForm">
                <div class="d-flex flex-column mr-3">
                    <!-- QUALITIES Filter -->
                    <div class="p-2">
                        <h5 class="font-size-small">Qualities</h5>
                        <ul class="list-group">
                            <li class="list-group-item qualities-m">
                                <div class="form-check">
                                    <input type="checkbox" name="qualities" value="m" id="mainQualities" class="form-check-input" />
                                    <label for="mainQualities" class="form-check-label">MAIN</label>
                                </div>
                            </li>
                            <li class="list-group-item qualities-a">
                                <div class="form-check">
                                    <input type="checkbox" name="qualities" value="a" id="archiveQualities" class="form-check-input" />
                                    <label for="archiveQualities" class="form-check-label">ARCHIVE</label>
                                </div>
                            </li>
                            <li class="list-group-item qualities-n">
                                <div class="form-check">
                                    <input type="checkbox" name="qualities" value="n" id="newQualities" class="form-check-input" />
                                    <label for="newQualities" class="form-check-label">NEW</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- QualityClass Filter -->
                    <div class="p-2">
                        <h5 class="font-size-small">Quality Class</h5>
                        <ul class="list-group">
                            <li class="list-group-item quality-class-viscose">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="viscose" id="viscose" class="form-check-input" />
                                    <label for="viscose" class="form-check-label">VISCOSE</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-rayon">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="rayon" id="rayon" class="form-check-input" />
                                    <label for="rayon" class="form-check-label">RAYON</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-rynsignart">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="rynsignart" id="rynsignart" class="form-check-input" />
                                    <label for="rynsignart" class="form-check-label">RYNSIGNART</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-cotton">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="cotton" id="cotton" class="form-check-input" />
                                    <label for="cotton" class="form-check-label">COTTON</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-nylon">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="nylon" id="nylon" class="form-check-input" />
                                    <label for="nylon" class="form-check-label">NYLON</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-polyester">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="polyester" id="polyester" class="form-check-input" />
                                    <label for="polyester" class="form-check-label">POLYESTER</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-pesdouble">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="pesdouble" id="pesdouble" class="form-check-input" />
                                    <label for="pesdouble" class="form-check-label">PESDOUBLE</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-tencel">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="tencel" id="tencel" class="form-check-input" />
                                    <label for="tencel" class="form-check-label">TENCEL</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-modal">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="modal" id="modal" class="form-check-input" />
                                    <label for="modal" class="form-check-label">MODAL</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-linen">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="linen" id="linen" class="form-check-input" />
                                    <label for="linen" class="form-check-label">LINEN</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-jacquard">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="jacquard" id="jacquard" class="form-check-input" />
                                    <label for="jacquard" class="form-check-label">JACQUARD</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-mix">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="mix" id="mix" class="form-check-input" />
                                    <label for="mix" class="form-check-label">MIX</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-yarndyed">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="yarndyed" id="yarndyed" class="form-check-input" />
                                    <label for="yarndyed" class="form-check-label">YARN DYED</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Price List Filter -->
                    <div class="p-2">
                        <h5 class="font-size-small">Price List</h5>
                        <ul class="list-group price-list">
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input type="radio" id="priceGeneral" name="priceList" value="general" class="form-check-input" />
                                    <label for="priceGeneral" class="form-check-label">General</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input type="radio" id="priceConfection" name="priceList" value="confection" class="form-check-input" />
                                    <label for="priceConfection" class="form-check-label">Confection</label>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- Sale Price -->
                    <div class="p-2">
                        <h5 class="font-size-small">Sale Price</h5>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input type="radio" id="filterDomestic" name="filterType" value="Domestic" class="form-check-input" />
                                    <label for="filterDomestic" class="form-check-label">Domestic</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input type="radio" id="filterExport" name="filterType" value="Export" class="form-check-input" />
                                    <label for="filterExport" class="form-check-label">Export</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Currency -->
                    <div class="p-2">
                        <h5 class="font-size-small">Currency</h5>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input type="radio" name="currency" value="dollar" id="dollar" class="form-check-input" />
                                    <label for="dollar" class="form-check-label">Dollar</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input type="radio" name="currency" value="euro" id="euro" class="form-check-input" />
                                    <label for="euro" class="form-check-label">Euro</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="filter-btn-container">
                    <button type="submit" class="btn btn-primary btn-custom">Filter</button>
                    <button type="reset" class="btn btn-secondary btn-custom">Reset</button>
                </div>
            </form>
        </div>
    </div>

    <div id="mainContent" class="main-content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function openNav() {
            document.getElementById("myNav").style.width = "250px";
            document.getElementById("mainContent").style.marginRight = "250px";
            localStorage.setItem('navOpen', 'true'); // Menüyü açık olarak kaydet
        }

        function closeNav() {
            document.getElementById("myNav").style.width = "0";
            document.getElementById("mainContent").style.marginRight = "0";
            localStorage.setItem('navOpen', 'false'); // Menüyü kapalı olarak kaydet
        }

        function saveFilters() {
            const checkboxes = document.querySelectorAll('#filterForm input[type="checkbox"]');
            const radios = document.querySelectorAll('#filterForm input[type="radio"]');
            const filterData = {};

            checkboxes.forEach(checkbox => {
                filterData[checkbox.id] = checkbox.checked;
            });

            radios.forEach(radio => {
                if (radio.checked) {
                    filterData[radio.name] = radio.value;
                }
            });

            localStorage.setItem('filters', JSON.stringify(filterData));
        }

        function loadFilters() {
            const filterData = JSON.parse(localStorage.getItem('filters'));

            if (filterData) {
                Object.keys(filterData).forEach(key => {
                    const element = document.getElementById(key);
                    if (element) {
                        if (element.type === 'checkbox') {
                            element.checked = filterData[key];
                        } else if (element.type === 'radio' && element.value === filterData[key]) {
                            element.checked = true;
                        }
                    }
                });
            }
        }

        function applyFilter() {
            // Formu otomatik olarak gönderin
            document.getElementById('filterForm').submit();
        }

        function resetFilters() {
            localStorage.removeItem('filters');
            loadFilters(); // Varsayılan değerleri yeniden yükle
        }

        document.addEventListener('DOMContentLoaded', () => {
            loadFilters();
            const navOpen = localStorage.getItem('navOpen') === 'true';
            if (navOpen) {
                openNav();
            }
            document.getElementById('filterForm').addEventListener('change', () => {
                saveFilters();
                applyFilter(); // Checkbox değiştiğinde formu gönder
            });
            document.getElementById('filterForm').addEventListener('reset', resetFilters);
        });
    </script>


    @RenderSection("Scripts", required: false)
</body>
</html>