<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
    <style>
        /* Genel Stil Ayarları */
        body {
            margin: 0; /* Sayfanın kenar boşluklarını kaldırır */
            font-family: Arial, sans-serif; /* Yazı tipi ayarı */
            overflow-x: hidden; /* Yatay kaydırmayı engeller */
            padding-top: 60px; /* Navbar yüksekliği kadar boşluk ekle */
        }

        .container {
            padding: 15px; /* Konteyner içindeki boşluk */
        }

        /* Off-canvas Menüsü Stilleri */
        .offcanvas {
            height: 100%; /* Tam yükseklik */
            width: 0; /* Başlangıç genişliği */
            position: fixed; /* Sabit konum */
            top: 0; /* Üst kenardan sıfır mesafe */
            right: 0; /* Sağ kenardan sıfır mesafe */
            background-color: #f8f9fa; /* Açık gri arka plan */
            overflow-x: hidden; /* Yatay kaydırmayı engeller */
            transition: 0.5s; /* Geçiş süresi */
            padding-top: 60px; /* Yukarıdan boşluk */
            z-index: 1000; /* Menü önceliği */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Gölgeli arka plan */
        }

            .offcanvas a {
                padding: 15px 20px; /* Bağlantılar için iç boşluk */
                text-decoration: none; /* Alt çizgiyi kaldırır */
                font-size: 24px; /* Büyük yazı boyutu */
                color: #333; /* Koyu gri yazı rengi */
                display: block; /* Blok seviyesinde eleman */
                transition: 0.3s; /* Geçiş süresi */
            }

                .offcanvas a:hover {
                    background-color: #e9ecef; /* Hover efekti */
                }

        .offcanvas-close {
            position: absolute; /* Mutlak konum */
            top: 10px; /* Üstten 10px mesafe */
            right: 10px; /* Sağdan 10px mesafe */
            font-size: 30px; /* Büyüklükte simge */
            color: #333; /* Koyu gri renk */
            z-index: 1100; /* Menüden üstte olması için */
        }
        /* Navbar Sabitleme Stili */
        .navbar {
            position: fixed; /* Sabit konum */
            top: 0; /* Üstten sıfır mesafe */
            left: 0; /* Soldan sıfır mesafe */
            width: 100%; /* Tam genişlik */
            z-index: 1000; /* İçeriğin üzerinde olmasını sağlar */
            padding: 0.25rem 0.5rem; /* İç ve dış boşlukları daha da azaltır */
        }

        .navbar-brand {
            padding: 0.125rem 0.25rem; /* İç boşlukları daha da azaltır */
        }

        .navbar-nav .nav-link {
            padding: 0.125rem 0.25rem; /* İç boşlukları daha da azaltır */
        }

        .navbar-toggler {
            padding: 0.125rem 0.25rem; /* İç boşlukları daha da azaltır */
        }

        .openbtn {
            position: absolute; /* Mutlak konum */
            right: 20px; /* Sağ kenardan 10px mesafe */
        }

        /* Ana İçerik Stilleri */
        .main-content {
            transition: margin-right .5s; /* Sağ kenar boşluğu için geçiş */
            padding: 16px; /* İç boşluk */
        }

        /* Kalite Sınıfları Renkleri */
        .quality-class-viscose {
            background-color: rgba(255, 165, 0, 0.5);
        }
        /* Viskon - turuncu */
        .quality-class-rayon {
            background-color: rgba(0, 128, 0, 0.5);
        }
        /* Rayon - yeşil */
        .quality-class-rynsignart {
            background-color: rgba(0, 128, 0, 0.5);
        }
        /* Rynsignart - yeşil */
        .quality-class-cotton {
            background-color: rgba(128, 0, 128, 0.5);
        }
        /* Pamuk - mor */
        .quality-class-nylon {
            background-color: rgba(255, 255, 0, 0.5);
        }
        /* Naylon - sarı */
        .quality-class-polyester {
            background-color: rgba(255, 0, 0, 0.5);
        }
        /* Polyester - kırmızı */
        .quality-class-pesdouble {
            background-color: rgba(255, 0, 0, 0.5);
        }
        /* PES Double - kırmızı */
        .quality-class-tencel {
            background-color: rgba(0, 0, 255, 0.5);
        }
        /* Tencel - mavi */
        .quality-class-modal {
            background-color: rgba(0, 0, 255, 0.5);
        }
        /* Modal - mavi */
        .quality-class-linen {
            background-color: rgba(173, 216, 230, 0.5);
        }
        /* Keten - açık mavi */
        .quality-class-jacquard {
            background-color: rgba(128, 128, 128, 0.5);
        }
        /* Jakar - gri */
        .quality-class-mix {
            background-color: rgba(211, 211, 211, 0.5);
        }
        /* Karışım - açık gri */
        .quality-class-yarndyed {
            background-color: rgba(211, 211, 211, 0.5);
        }
        /* Yarı boyalı - açık gri */

        /* Kalite Sınıfları Renkleri */
        .qualities-m {
            background-color: rgba(173, 216, 230, 0.25);
        }
        /* Ana - açık mavi */
        .qualities-a {
            background-color: rgba(255, 255, 224, 0.25);
        }
        /* Arşiv - açık sarı */
        .qualities-n {
            background-color: rgba(144, 238, 144, 0.25);
        }
        /* Yeni - açık yeşil */

        /* Airflow ve Sustainable Filtre Renkleri */
        .airflow-filter, .sustainable-filter {
            background-color: rgba(144, 238, 144, 0.5); /* Açık yeşil */
        }

        /* Kalite Grupları */
        .quality-group {
            display: flex; /* Flexbox düzeni */
            flex-wrap: wrap; /* Satıra sarmayı sağlar */
            gap: 10px; /* Elemanlar arası boşluk */
        }

            .quality-group ul {
                flex: 1; /* Eşit genişlik */
                box-sizing: border-box; /* Padding ve border'ı boyutlara dahil eder */
                list-style: none; /* Liste işaretlerini kaldırır */
                padding: 0; /* Padding yok */
                margin: 0; /* Margin yok */
            }

        /* Liste Elemanları */
        .list-group-item {
            display: flex; /* Flexbox düzeni */
            align-items: center; /* Checkbox ve metni ortalar */
            font-size: 0.75rem; /* Küçük font boyutu */
            padding: 0.5rem; /* İç boşluk */
            box-sizing: border-box; /* Padding ve border'ı boyutlara dahil eder */
        }

        /* Form Kontrolü */
        .form-check {
            display: flex; /* Flexbox düzeni */
            align-items: center; /* Checkbox ve etiketleri hizalar */
            margin-left: -1.5rem; /* Sol kaydırma */
        }

        .form-check-input {
            margin: 0; /* Margin yok */
            margin-right: 0.5rem; /* Etiket ile araya boşluk bırakır */
            position: relative; /* Konumlandırmayı kontrol eder */
            z-index: 1; /* Checkbox'ı etiketin üstünde gösterir */
        }

        .form-check-label {
            margin: 0; /* Margin yok */
            position: relative; /* Konumlandırmayı kontrol eder */
            z-index: 0; /* Etiketin checkbox'ın altında olmasını sağlar */
        }

        /* Özel Buton Stilleri */
        .btn-custom {
            font-size: 0.75rem; /* Küçük font boyutu */
            padding: 0.25rem 0.5rem; /* İç boşluk */
            border-radius: 0.25rem; /* Köşe yuvarlama */
        }

            .btn-custom:hover {
                background-color: rgba(0, 0, 0, 0.1); /* Hover efekti */
            }

        /* Filtre Butonları Konteyneri */
        .filter-btn-container {
            display: flex; /* Flexbox düzeni */
            gap: 1rem; /* Butonlar arası boşluk */
            position: absolute; /* Mutlak konum */
            top: 30px; /* Üstten mesafe */
            right: 100px; /* Sağdan mesafe */
        }

        /* Karartma Katmanı Stili */
        .overlay {
            position: fixed; /* Sabit konum */
            top: 0; /* Üst kenardan sıfır mesafe */
            left: 0; /* Sol kenardan sıfır mesafe */
            width: 100%; /* Tam genişlik */
            height: 100%; /* Tam yükseklik */
            background-color: rgba(0, 0, 0, 0.5); /* Karartma rengi ve şeffaflık */
            display: none; /* Başlangıçta gizli */
            z-index: 900; /* Menüden alt seviyede olması için */
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">Akbaş Holding</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button class="openbtn" onclick="openNav()">&#9776;</button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <!-- Menü öğeleri buraya eklenebilir -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="myNav" class="offcanvas">
        <a href="javascript:void(0)" class="offcanvas-close" onclick="closeNav()">&times;</a>
        <div class="container">
            <form asp-controller="Fabrics" asp-action="Index" method="get">
                <div class="d-flex flex-column mr-3">
                    <!-- QUALITIES Filter -->
                    <div class="p-2">
                        <h5 class="font-size-small">Qualities</h5>
                        <ul class="list-group">
                            <li class="list-group-item qualities-m">
                                <div class="form-check">
                                    <input type="checkbox" name="qualities" value="m" id="mainQualities" class="form-check-input" />
                                    <label for="mainQualities" class="form-check-label">MAIN</label>
                                </div>
                            </li>
                            <li class="list-group-item qualities-a">
                                <div class="form-check">
                                    <input type="checkbox" name="qualities" value="a" id="archiveQualities" class="form-check-input" />
                                    <label for="archiveQualities" class="form-check-label">ARCHIVE</label>
                                </div>
                            </li>
                            <li class="list-group-item qualities-n">
                                <div class="form-check">
                                    <input type="checkbox" name="qualities" value="n" id="newQualities" class="form-check-input" />
                                    <label for="newQualities" class="form-check-label">NEW</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- QualityClass Filter -->
                    <div class="p-2">
                        <h5 class="font-size-small">Quality Class</h5>
                        <ul class="list-group">
                            <li class="list-group-item quality-class-viscose">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="viscose" id="viscose" class="form-check-input" />
                                    <label for="viscose" class="form-check-label">VISCOSE</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-rayon">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="rayon" id="rayon" class="form-check-input" />
                                    <label for="rayon" class="form-check-label">RAYON</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-rynsignart">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="rynsignart" id="rynsignart" class="form-check-input" />
                                    <label for="rynsignart" class="form-check-label">RYN S.</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-cotton">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="cotton" id="cotton" class="form-check-input" />
                                    <label for="cotton" class="form-check-label">COTTON</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-nylon">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="nylon" id="nylon" class="form-check-input" />
                                    <label for="nylon" class="form-check-label">NYLON</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-polyester">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="polyester" id="polyester" class="form-check-input" />
                                    <label for="polyester" class="form-check-label">POLYESTER</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-pesdouble">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="pesdouble" id="pesdouble" class="form-check-input" />
                                    <label for="pesdouble" class="form-check-label">PES D.</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-tencel">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="tencel" id="tencel" class="form-check-input" />
                                    <label for="tencel" class="form-check-label">TENCEL</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-modal">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="modal" id="modal" class="form-check-input" />
                                    <label for="modal" class="form-check-label">MODAL</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-linen">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="linen" id="linen" class="form-check-input" />
                                    <label for="linen" class="form-check-label">LINEN</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-jacquard">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="jacquard" id="jacquard" class="form-check-input" />
                                    <label for="jacquard" class="form-check-label">JACQUARD</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-mix">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="mix" id="mix" class="form-check-input" />
                                    <label for="mix" class="form-check-label">MIX</label>
                                </div>
                            </li>
                            <li class="list-group-item quality-class-yarndyed">
                                <div class="form-check">
                                    <input type="checkbox" name="qualityClasses" value="yarndyed" id="yarndyed" class="form-check-input" />
                                    <label for="yarndyed" class="form-check-label">YARN D.</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Yeni filtreler: AIRFLOW ve SUSTAINABLE -->
                    <div class="p-2">
                        <h5 class="font-size-small">Additional Filters</h5>
                        <ul class="list-group">
                            <li class="list-group-item airflow-filter">
                                <div class="form-check">
                                    <input type="checkbox" name="additionalFilters" value="airflow" id="airflow" class="form-check-input" />
                                    <label for="airflow" class="form-check-label">Airflow</label>
                                </div>
                            </li>
                            <li class="list-group-item sustainable-filter">
                                <div class="form-check">
                                    <input type="checkbox" name="additionalFilters" value="sustainable" id="sustainable" class="form-check-input" />
                                    <label for="sustainable" class="form-check-label">Sustainable</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="p-2">
                        <h5 class="font-size-small">Price List</h5>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input type="checkbox" name="priceList" value="general" id="general" class="form-check-input" />
                                    <label for="general" class="form-check-label">General</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input type="checkbox" name="priceList" value="confection" id="confection" class="form-check-input" />
                                    <label for="confection" class="form-check-label">Confection</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="p-2">
                        <h5 class="font-size-small">Sale Price</h5>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input type="checkbox" name="salePrice" value="domestic" id="domestic" class="form-check-input" />
                                    <label for="domestic" class="form-check-label">Domestic</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input type="checkbox" name="salePrice" value="export" id="export" class="form-check-input" />
                                    <label for="export" class="form-check-label">Export</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="p-2">
                        <h5 class="font-size-small">Currency</h5>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input type="checkbox" name="currency" value="dollar" id="dollar" class="form-check-input" />
                                    <label for="dollar" class="form-check-label">Dollar</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input type="checkbox" name="currency" value="euro" id="euro" class="form-check-input" />
                                    <label for="euro" class="form-check-label">Euro</label>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="filter-btn-container">
                    <button type="submit" class="btn btn-primary btn-custom">Filter</button>
                    <button type="reset" class="btn btn-secondary btn-custom">Reset</button>
                </div>

            </form>
        </div>
    </div>

    <div id="mainContent" class="main-content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function openNav() {
            document.getElementById("myNav").style.width = "250px";
            document.getElementById("mainContent").style.marginRight = "250px";
        }

        function closeNav() {
            document.getElementById("myNav").style.width = "0";
            document.getElementById("mainContent").style.marginRight = "0";
        }
    </script>
</body>
</html>