<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Proforma Maliyet</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 11px;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 100%;
            margin: auto;
            padding: 20px;
            position: relative;
        }

        table {
            width: calc(100% - 120px);
            border-collapse: collapse;
            margin-top: 10px;
            font-size: 15px;
            position: relative;
        }

        th, td {
            padding: 4px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        .left-align {
            text-align: left;
        }

        .right-align {
            text-align: right;
        }

        .center-align {
            text-align: center;
        }

        .summary {
            font-weight: bold;
        }

        .note {
            margin-top: 10px;
            font-size: 0.9em;
        }

        .pricing {
            font-size: 1em;
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
        }

            .pricing div {
                width: 48%;
            }

            .pricing p {
                margin: 2px 0;
            }

        .checkbox {
            display: flex;
            align-items: center;
            margin-top: 5px;
        }

        .footer {
            margin-top: 20px;
            text-align: right;
        }

        .info-box {
            margin-bottom: 20px;
        }

        .details {
            position: absolute;
            bottom: 20px;
            right: 20px;
            font-size: 0.9em;
            padding-top: 10px;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            padding: 10px;
        }

            .details p {
                margin: 2px 0;
            }

                .details p.summary {
                    font-weight: bold;
                }

        .table-image {
            position: absolute;
            top: 40px;
            right: 210px;
            width: 100px;
            height: auto;
        }

        .print-button {
            margin-top: 20px;
            padding: 10px;
            font-size: 1em;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            .print-button:hover {
                background-color: #0056b3;
            }

        .white-background {
            background-color: white;
        }

        .header-background {
            background-color: white;
        }
    </style>
    <script>
        function printPage() {
            window.print();
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="info-box">
            <p>26.07.2024 16:59</p>
            <h6>PROFORMA MALİYET</h6>
            <h7>IMPI611 VISCOSE VOILE 80/1</h7>
            <p>Düz Boya Zemin: SİYAH</p>
            <p style="font-size: 12px;">20.03.2024 tarihindeki KURLAR: $ 32.50 € 34.70 €/$: 1.0677</p>
        </div>

        <img src="~/img/akbasFont.jpg" class="table-image">

        <table>
            <thead>
                <tr class="header-background">
                    <th class="right-align header-background"></th>
                    <th class="right-align header-background">İç Piyasa</th>
                    <th class="left-align header-background">İhracat</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="left-align">Ham Kumaş Proforma Fiyatı</td>
                    <td class="right-align">1,25 $/mt</td>
                    <td class="left-align">1,25 $/mt</td>
                </tr>
                <tr>
                    <td class="left-align">Ham Kumaş Maliyeti</td>
                    <td style="color:red" class="right-align">1,25 $/mt</td>
                    <td style="color:red" class="left-align">1,25 $/mt</td>
                </tr>
            </tbody>
        </table>
        <table>
            <tr>
                <th class="left-align">Değişken Maliyetler</th>
                <th class="left-align">Hız<br /> mt/dk</th>
                <th class="left-align">Genel Maliyet</th>
                <th class="left-align">Reçete Maliyet</th>
                <th class="left-align">İç Piyasa</th>
                <th class="left-align">İhracat</th>
                <th class="left-align">Fason Maliyet</th>
            </tr>
            <tr>
                <td class="left-align">HAM AÇMA</td>
                <td></td>
                <td>0.0373</td>
                <td></td>
                <td>0.04$/mt</td>
                <td>0.4$/mt</td>
                <td></td>
            </tr>
            <tr>
                <td class="left-align">GAZE (Combi)</td>
                <td></td>
                <td>0.0150</td>
                <td>0.02$/mt</td>
                <td>0.02$/mt</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="left-align">BOYAMA (Jet)(600)</td>
                <td></td>
                <td>0.2363</td>
                <td>0.0499</td>
                <td>0.29$/mt</td>
                <td>0.29$/mt</td>
                <td></td>
            </tr>
            <tr>
                <td class="left-align">KURUTMA (Ram)</td>
                <td>30</td>
                <td>0.0425</td>
                <td>0.4$/mt</td>
                <td>0.4$/mt</td>
                <td>0.49$/mt</td>
                <td></td>
            </tr>
            <tr>
                <td class="left-align">FINISH APRE (Ram)</td>
                <td>25</td>
                <td>0.0510</td>
                <td>0.0200</td>
                <td>0.07$/mt</td>
                <td>0.07$/mt</td>
                <td></td>
            </tr>
            <tr>
                <td class="left-align">KALİTE KONTROL</td>
                <td></td>
                <td>0.0398</td>
                <td></td>
                <td>0.4$/mt</td>
                <td>0.4$/mt</td>
                <td style="color: red;">0.48$/mt</td>
            </tr>
            <tr>
                <td class="left-align">DÜZ BOYA ÇEKME</td>
                <td></td>
                <td></td>
                <td></td>
                <td>0.18$/mt</td>
                <td>0.18$/mt</td>
                <td></td>
            </tr>
            <tr>
                <td class="summary left-align">DÜZ BOYA MALİYETİ</td>
                <td class="summary"></td>
                <td class="summary">0.4219</td>
                <td class="summary">0.0699</td>
                <td style="color: red;">0.62$/mt</td>
                <td style="color: red;">0.60$/mt</td>
                <td></td>
            </tr>
            <tr>
                <td class="left-align">STOK + A1 + TOPBAŞI</td>
                <td></td>
                <td></td>
                <td></td>
                <td>0.03$/mt</td>
                <td>0.03$/mt</td>
                <td></td>
            </tr>
            <tr>
                <td class="left-align">KUMAŞ DAHİL DÜZ BOYA MALİYETİ</td>
                <td></td>
                <td></td>
                <td></td>
                <td style="color:red">0.03$/mt</td>
                <td style="color:red">0.03$/mt</td>
                <td></td>
            </tr>
            <tr>
                <th class="left-align" colspan="7">SABİT MALİYETLER</th>
            </tr>
            <tr>
                <td class="left-align">HAZIRLIK GRUBU MALİYETİ</td>
                <td></td>
                <td></td>
                <td></td>
                <td>0.02$/mt</td>
                <td>0.02$/mt</td>
                <td></td>
            </tr>
            <tr>
                <td class="left-align">PAZARLAMA GİDERİ</td>
                <td>% 7,0</td>
                <td>% 7,0</td>
                <td></td>
                <td>0.03$/mt</td>
                <td>0.03$/mt</td>
                <td></td>
            </tr>
            <tr>
                <td class="left-align">GENEL YÖNETİM GİDERİ</td>
                <td>% 3,0</td>
                <td>% 3,0</td>
                <td></td>
                <td>0.01$/mt</td>
                <td>0.01$/mt</td>
                <td></td>
            </tr>
            <tr>
                <td class="summary left-align">BİTMİŞ KUMAŞ MALİYETİ</td>
                <td></td>
                <td></td>
                <td></td>
                <td style="color: red;" class="summary">2.18 $/mt</td>
                <td style="color: red;" class="summary">2.18 $/mt</td>
                <td></td>
            </tr>
        </table>

        <div class="note">
            <p>Yurtiçi Nakliye Bed. 0.025 ₺/mt ilave edilmelidir. Uyulması gereken kurallar için <a href="#">tıklayınız...</a></p>
        </div>

        <div class="pricing">
            <div>
                <p class="summary">SATIŞ FİYATI [LİSTE]</p>
                <p style="color: red;">3.05 $/mt</p>
                <p style="color: red;">2.86 £/mt</p>
            </div>
            <div>
                <p class="summary">KAR ORANI [LİSTE]</p>
                <p style="color: red;">40.2 %</p>
                <p style="color: red;">40.2 %</p>
            </div>
        </div>

        <div class="pricing">
            <div>
                <p>VADELİ FİYAT</p>
                <select>
                    <option value="Pesin">Peşin</option>
                    <option value="30gün">30 Gün (1.5%)</option>
                    <option value="60gün">60 Gün (3.5%)</option>
                    <option value="90gün">90 Gün (4.5%)</option>
                </select>
            </div>

            <div>
                <p>Proforma Geçerlilik Tarihi: 26.07.2024</p>
                <p>Kullanıcı: hamza</p>
            </div>
        </div>

        <div class="checkbox">
            <input type="checkbox" id="karOranBelirle">
            <label for="karOranBelirle">Kar Oran Belirle</label>
        </div>

        <button class="print-button" onclick="printPage()">
            <i class="fas fa-print"></i>
        </button>

    </div>
</body>
</html>
